<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body align="center">
    <a href="<%= link %>">Home</a> | <a href="<%= link2 %>">Youtube</a>
    <p> <%= message %> </p>
    <img src="<%= image %>"/><br>
    <a href="<%= link3 %>">Next >></a>
  </body>
</html>
